src/main/mule/mulesoft-devops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c593dc53-6842-42d2-925d-14cec983ec12" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f934ce25-e6bc-4836-95c0-a24fb5c28486" >
		<http:request-connection protocol="HTTPS">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="getUserFlow" doc:id="39376249-adb6-4df2-b658-57b13de9cd92" >
		<http:listener doc:name="GET /getUser/{id}" doc:id="95fffad7-a02a-41df-81e7-bd379578e1ed" config-ref="HTTP_Listener_config" path="/getUser/{id}"/>
		<http:request method="GET" doc:name="getUser" doc:id="69dbe59b-4283-46fd-b6ac-39a128b9489f" url='#["https://reqres.in/api/users/" ++ attributes.uriParams.id  default 2]' config-ref="HTTP_Request_configuration" targetValue="#[payload.data]"/>
		<ee:transform doc:name="Response" doc:id="ed7119f3-24f0-4997-9af2-e6e147366cf4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json
---
payload.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
